{{!< default}}

<main class="sign-up-main">
    <h1 class="sign-up-main__title">
        {{#page}}{{title}}{{else}}Subscribe{{/page}}
    </h1>

    {{#if @member}}
        {{!-- Logged in, no paid plans available --}}
        <p class="tc">Redirecting...</p>
        <script>window.location = '{{@site.url}}/account/';</script>
    {{else}}
        <div id="sign-up"></div>
    {{/if}}
</main>
<script src="{{asset "react/signup.js"}}"></script>